<!DOCTYPE html>
<html>
<head>
  <title>WhoseGameIsItAnyway</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<% if controller_path != 'search' %>
  | <%= link_to 'Go To Search', root_path %>
<% end %> 
</body>
</html>
